body {
    font-family: "Lato",sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.title-logo {
    margin-top: 20px;
}

.title-super {
    font-size: 60px;
}

@media only screen and (max-width: 600px) {
    .title-super {
        font-size: 40px;
    }
}

hr {
    border: 2px solid #7d97ad;
}

.description {
    font-size: 16px;
}

@media only screen and (min-width: 1440px) {
    .featured-image {
        width: 33vw;
    }
}